@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p class="lead">The only store you'll ever need!</p>
    <p>@Html.ActionLink(HttpUtility.HtmlDecode("Learn More About Us &raquo;"), "About", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
            Come browse our products and see what we have for you.
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("See Products &raquo;"), "Index", "Product", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>We have a long list of valuable customers. Check them out here!</p><br /><br />
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("See Customers &raquo;"), "Index", "Customer", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>You can be super nosey and see what everyone has purchased here!</p><br /><br />
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("See Transactions  &raquo;"), "Index", "Transaction", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>